
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #030303;
}

h1, h2, #score {
  margin: 10px 0;
  font-family: inherit;
  color: inherit;
  text-rendering: optimizelegibility;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: -1px;
}

h2, #score {
  letter-spacing: 0;
}

#match_3 {
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    background: rgba(255,255,255,0.1) url(../images/background1.png);
    opacity: 0.8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

.banner {
    font-size: 25px;
    color: #030303;
    background-color: #c2b2de;
    width: 288px;
    height: 40px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.background {
    background-image: url(../images/background2.png);
    width: 288px;
    margin-left: auto;
    margin-right: auto;
}

