# Created by .gitignore support plugin (hsz.mobi)
### Dart template
# Don’t commit the following directories created by pub.
build/
packages/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
pubspec.lock
old/
.idea/
# http://darkoverlordofdata.github.io/alienzed
gh-pages
# apk keystore
platforms/android/ant.properties
platforms/android/bin/alienzed-release.apk
platforms/android/ant-build/alienzed-debug.apk
platforms/android/bin/alienzone-release.apk
platforms/android/ant-build/alienzone-debug.apk
web/js/liquid.coffee
AlienZone-release.apk

coocoonjs
cocoonjs