# Created by .gitignore support plugin (hsz.mobi)
### Dart template
# Don’t commit the following directories created by pub.
build/
packages/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
.idea/
sign.sh
alienzone.zip
Alien_Zone_debug_signed.apk
Alien_Zone_release_unsigned.apk
AlienZone_release.apk

packages
.pub
pubspec.lock
assets/GDquest Freebie 001 - Cartoon Mobile UI Buttons - @NathanLovatoArt
mt19937ar.c
sign.txt
Alien_Zone_release.apk