# Created by .gitignore support plugin (hsz.mobi)
### Dart template
# Don’t commit the following directories created by pub.
build/
packages/

# Or the files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Include when developing application packages.
.idea/
# apk keystore
platforms/android/ant.properties
platforms/android/ant-build/AlienZone-debug-unaligned.apk
platforms/android/ant-build/AlienZone-debug.apk
platforms/android/ant-build/AlienZone-release-unaligned.apk
platforms/android/ant-build/AlienZone-release.apk
platforms/android/ant-build/AlienZone-release-unsigned.apk
platforms/android/ant-build/AlienZone-debug-unaligned.apk.d
platforms/android/ant-build/AlienZone-release-unsigned.apk.d
cocoonjs
sign.sh