<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.darkoverlordofdata.alienzone" version="0.0.2">
    <name>Alien Zone</name>
    <description>
        Match 3 Game
    </description>
    <author email="brucedavidson@darkoverlordofdata.com" href="http://darkoverlordofdata.com">
        Dark Overlord of Data
    </author>
    <content src="index.html"/>
    <access origin="*"/>
</widget>
